/*
Theme Name: Vasco
Author: Daniel Muniz de Carvalho
Description: Tema do Vascão
Version: 1
*/

 
body{
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

header,footer{
    height: 70px;
    background-color:black;
}

main{
    background-color:bisque
}

h1{
    text-align:center;
    font-size: 3rem;
}
h2 {
    font-size: 2rem;
}

#menu-navegacao{
    justify-content:space-between; 
    display: flex;
    gap: 10px;
}

.current_page_item a{
    color:midnightblue
}

main h2{
    background-color: lightgreen;
}

a{
    font-size:2rem;
    color:midnightblue;
    justify-content:space-between;  



}

 




   
        